# Maven
target

# Netbeans
nbactions.xml
dependency-reduced-pom.xml

# Generated
*.txt
*.html
*.xml
*.svg
*.densityplotter
*.csv
test_*
*.ser

# Resources
!src/main/resources/*
!src/main/resources/org/earthtime/parameterModels/mineralStandardModels/*.xml

# MACOS
.DS_Store
